# Server & Auth
DATABASE_URL="postgresql://postgres.ouzcyedqgkgpdolfrrov:Qmian2117%40@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.ouzcyedqgkgpdolfrrov:Qmian2117%40@db.ouzcyedqgkgpdolfrrov.supabase.co:5432/postgres"
JWT_SECRET="portfolio_super_secret_jwt_key_2026_change_in_production"
JWT_EXPIRES_IN="7d"
NODE_ENV="development"

# App Public URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Supabase Credentials
NEXT_PUBLIC_SUPABASE_URL="https://ouzcyedqgkgpdolfrrov.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_f4MI9T-VTNVg4o0i4EkEFA_oi0etSi_"

# Image Storage
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="demo"
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
